---
import Layout from '../layouts/Layout.astro';
import ShoppingCart from '../components/ShoppingCart.astro';
import ShoppingCartButton from '../components/ShoppingCartButton.astro';
import Collection from '../components/Collection.astro';
---

<Layout title="Plain w Component">
    <ShoppingCart />
    <ShoppingCartButton />
    <div class="grid place-items-center h-full text-sm font-mono">
        <h1 class="text-xl font-sans font-bold">KIOSK:Headroom</h1>
        <div>
            Fix your hair make-up and let's <a href="/enter" class="font-bold">ENTER</a> the shop!
        </div>
        <div>
            Needless to say, this is a work in progress. Stuff will break, but it would still be nice to see you. Allow that camera so I can see your pretty
            face.
        </div>
    </div>
</Layout>
