---
import Layout from '../layouts/Layout.astro';
import ShoppingCart from '../components/ShoppingCart.astro';
import ShoppingCartButton from '../components/ShoppingCartButton.astro';
import Collection from '../components/Collection.astro';
---

<Layout title="KIOSK: Headroom">
    <ShoppingCart />
    <ShoppingCartButton />
    <div class="grid place-items-center items-center xh-screen text-green-800">
        <div class="h-full text-lg font-mono *:p-8 w-1/2 max-w-96 m-auto *:my-12">
            <div class="text-4xl font-sans font-bold px-0 text-red-200 text-center">KIOSK: Headroom</div>
            <!-- <div class="bg-yellow-200 text-3xl text-center">SORRY! <br /> CLOSED FOR TODAY <br /> BACK TOMORROW</div> -->
            <div class="bg-orange-200">
                Want to speak to us <a href="/enter" class="font-bold">LIVE</a>? <a href="/enter" class="font-bold">ENTER</a> the shop!
            </div>
            <div class="bg-green-200">
                Needless to say, this is a work in progress, a beta experience. Stuff will break. Be sure to turn on your camera so I can see you and you can
                see me. Why is a good question. The answer is simple, we miss the shop and talking to all of you.
            </div>
            <div class="bg-yellow-200">
                If no-one is around, try messaging me on +1 917 945 2978 and ask us to pop in. We'll be right there. Unless we can't. Once this is up and
                running we plan to have regular hours, just like the New York store.
            </div>
            <div class="text-2xl bg-red-200 text-center"><a href="/enter">ENTER</a></div>
        </div>
    </div>
</Layout>
