---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import ShoppingCart from '../components/ShoppingCart.astro';
import ShoppingCartButton from '../components/ShoppingCartButton.astro';
import Collection from '../components/Collection.astro';
import HeroImage from '../assets/images/headroom-screen.png';
---

<Layout title="KIOSK: Headroom">
    <meta slot="head" name="description" content="KIOSK: Headroom" />
    <meta slot="head" name="xdescription" content="KIOSK: Headroom" />
    <!-- <ShoppingCart />
    <ShoppingCartButton /> -->
    <header class="w-screen text-white text-6xl p-4 font-bold font-sans"><a href="https://kioskkiosk.com" class="no-underline not-italic">KIOSK</a></header>
    <div class="grid place-items-center items-center text-green-800 font-mono max-w-[900px] m-auto">
        <div class="h-full text-lg font-mono *:p-8 w-full max-w-192 m-auto *:my-4 p-4 *:border">
            <!-- <div class="bg-yellow-200 text-yellow-50 text-3xl text-center" style="text-shadow: rgb(238, 0, 255) 1px 0 15px;">
                SORRY! <br /> CLOSED FOR TODAY <br /> BACK TOMORROW!
            </div> -->
            <div class="bg-yellow-200 text-yellow-50 text-3xl text-center">
                <a href="/"><img src="/door" alt="Are we in?" class="w-36 inline" /></a>
            </div>
            <div class="bg-orange-200">
                Welcome to KIOSK Headroom, a place to recreate the physical space of KIOSK. We have missed you. Come talk to us and others about KIOSK, the
                weather, what you ate last night, etc. Free-form and flowing conversation just like the old days in the shop. This week's hours, Feb 4-8th: 11-1
                pm New York time. Or with luck, one of is in anyway. <a href="/enter" class="underline">Come in and say hello! </a>
            </div>
            <div class="!p-0 border-0 bg-red-200">
                <Image
                    src={HeroImage}
                    alt="KIOSK Headroom"
                    class="w-full"
                    widths={[300, 600, 900]}
                    sizes={`(max-width: 360px) 300px, (max-width: 720px) 600px, 900px`}
                />
            </div>
            <div class="bg-green-200">
                Needless to say, this is a work in progress, a beta experience. Stuff will break. Be sure to turn on your camera so we can see you and you can
                see us. Why is a good question. The answer is simple, we miss the shop and talking to all of you.
            </div>
            <div class="bg-yellow-200">
                If no-one is around, try messaging Marco on +1 917 945 2978 and ask us to pop in. We'll be right there. Unless we can't. Once this is up and
                running we plan to have regular hours, just like the New York store.
            </div>
            <div class="text-4xl bg-red-200 hover:bg-red-300 text-center !p-0 text-green-200">
                <button class="w-full h-full border-24 border-double p-8 tracking-widest font-bold"><a href="/enter">ENTER</a></button>
            </div>
            <div class="bg-yellow-200">
                Don't want to talk? Just want to shop? <a href="https://kioskkiosk.com" class="underline not-italic hover:italic">Go to the usual place</a> and browse
                the collection. We'll be here when you you are ready.
            </div>
        </div>
    </div>
</Layout>
