---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import { getStore } from '@netlify/blobs';
import HeroImage from '../assets/images/headroom-screen.png';

const store = getStore('door');
const tstore = getStore('test');

let check1 = await tstore.get('test');

await tstore.set('test', new Date().toISOString());

let check2 = await tstore.get('test');

export const prerender = false;
---

<Layout title="Redirect Test">
    <meta slot="head" name="description" content="Redirect Test" />
    <meta slot="head" name="xdescription" content="Redirect Test" />
    <div class="grid place-items-center items-center text-green-800 font-mono max-w-[900px] m-auto">
        <div class="h-full text-lg font-mono *:p-8 w-full max-w-192 m-auto *:my-4 p-4 *:border">
            <div class="bg-yellow-200 text-yellow-50 text-3xl text-center">
                <a href="/"><img src="/images/closed.png" alt="Are we in?" class="w-36 inline" /></a>
            </div>
            <div class="bg-orange-200">
                {(async () => new Date(await store.get('open')))()}
                <br />
                check1: {check1}
                <br />
                check2: {check2}
            </div>
            <div class="!p-0 border-0">
                <Image
                    src={HeroImage}
                    alt="KIOSK Headroom"
                    class="w-full"
                    widths={[300, 600, 900]}
                    sizes={`(max-width: 360px) 300px, (max-width: 720px) 600px, 900px`}
                />
            </div>
            <div class="bg-green-200">
                Needless to say, this is a work in progress, a beta experience. Stuff will break. Be sure to turn on your camera so we can see you and you can
                see us. Why is a good question. The answer is simple, we miss the shop and talking to all of you.
            </div>
            <div class="bg-yellow-200">
                If no-one is around, try messaging Marco on +1 917 945 2978 and ask us to pop in. We'll be right there. Unless we can't. Once this is up and
                running we plan to have regular hours, just like the New York store.
            </div>
        </div>
    </div></Layout
>
