---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
    handle: string;
}

const { handle } = Astro.props;
---

<div x-data={`getCollection('${handle}')`} {...Astro.props}>
    <h3 class="text-xl" x-text="title"></h3>
    <div x-html="descriptionHtml" class="text-sm py-2"></div>
    <ul x-data="{cart:Alpine.store('globalCart')}" class="divide-y-2 divide-current">
        <template x-for="product in products" :key="product.id">
            <li class="py-2">
                <h3 x-text="product.title" class=""></h3>
                <ul class="flex flex-row flex-wrap">
                    <template x-for="variant in product.variants" :key="variant.id">
                        <li class="p-1">
                            <button
                                class="border border-current p-1 text-xs disabled:opacity-50 bg-opacity-20 bg-black"
                                x-text="variant.title == 'Default Title'? 'Get': `Get ${variant.title}`"
                                :disabled="variant.availableForSale == false"
                                @click="console.log('adding:',await cart.addItem(variant.id));"></button>
                        </li>
                    </template>
                </ul>
            </li>
        </template>
    </ul>
</div>
