---

---

<template x-for="(p,i) in $store.products">
    <div
        class="p-2 pb-0 opacity-50 first-of-type:opacity-100 m-auto"
        :class="['w-full','w-11/12','w-10/12','w-9/12','w-8/12','w-7/12','w-6/12','w-5/12','w-4/12','w-3/12','w-2/12','w-1/12'].at(i)||'hidden'"
    >
        <img
            height="200"
            width="200"
            :src="p.featuredImage.url"
            :alt="p.title"
            :title="p.title"
            class="border border-black w-full cursor-pointer aspect-square bg-yellow-200"
            @click="activeProduct=p; $refs.productView.showModal()"
        />
    </div>
</template>
