---
interface Props extends HTMLAttributes<'button'> {}
---

<button x-data {...Astro.props}
    ><div @click="Alpine.store('globalCart').toggle()"><slot>[<span x-text="Alpine.store('globalCart').open?'close':'open'"></span>]</slot></div></button
>
