---

---

<button x-data><div @click="data.cartIsOpen=!data.cartIsOpen"><slot>[<span x-text="data.cartIsOpen?'close':'open'"></span>]</slot></div></button>

<script>
    import Alpine from 'alpinejs';
    import Cart from '../assets/cart.js';
    window.Cart = Cart;
    let data = Alpine.$data(document.querySelector('[x-ref="shoppingcart"]'));
    data.D.Cart = Cart;
    data.cost = Cart.cost;
    data.lines = Cart.lines;
</script>
